<h1> Palindromes! <h1>

<h2>Enter a word and we will check if it is a palindrome.</h2>

<form action='/results' method='get'>
  <div class="form-group">
    <label for="enteredWord">Enter a word</label>
    <input id="enteredWord" name="enteredWord" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">PALINDROME ME BRUUH!</button>
</form>
